env.php
###> symfony/framework-bundle ###
/.env.local
/.env.local*
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/upload/*/*
/upload/
/assets/

/templates/client/*
/public/assets_client/*

/templates/client_old/
/clients/*
/migrations/*

/error_log
/public/.ftpquota
/public/.htaccess
/vendor_bk
.htaccess
test.php
.idea/

package-lock.json
yarn.lock

/public/upload/thumbs
/public/upload/source
