@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/painting-with-chocolate");
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  font-size: 10px;
}

strong {
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 1.6rem;
}

strong.one4all {
  color: #3E4FE4;
  font-family: "Painting With Chocolate", sans-serif;
}

.btnPrimary {
  background-color: #3E4FE4;
  color: white;
  border-radius: 15px;
  padding: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.secondaryColor {
  color: #FCC61F;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
header img {
  width: 60%;
  height: auto;
}

.present {
  padding: 0 50px;
}
.present .block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 40px;
}
.present .block img {
  width: 30%;
}
.present .block .containerText {
  width: 30%;
}
.present .block .containerText p {
  font-size: 1.9rem;
  margin-bottom: 25px;
  line-height: 35px;
}
.present .block .containerText .containerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.present .vision {
  display: grid;
  grid-template: 1fr 3fr 1fr/2fr repeat(5, 1fr);
}
.present .vision img.logo {
  grid-area: 1/3/1/4;
  min-width: 300px;
}
.present .vision .giro {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.present .vision .giro .containerImg {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.present .vision .giro .containerImg img {
  height: 100%;
  width: auto;
}
.present .vision .giro p {
  height: 20%;
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
}
.present .vision .containerButton {
  grid-area: 3/3/4/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present .vision .containerWidth {
  grid-area: 2/3/3/6;
}
.present .vision .containerWidth .video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.present .vision .containerWidth .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challenge h1 {
  width: max-content;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
.challenge h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #3E4FE4;
  bottom: -6px;
  left: 0;
}
.challenge p {
  width: 40%;
  text-align: center;
}

.ctaOne {
  margin-top: 75px;
}
.ctaOne .band {
  background-color: #FCC61F;
  color: white;
  margin: 0 50px;
  padding: 75px 100px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
.ctaOne .band h3 {
  font-size: 3rem;
  line-height: 50px;
}
.ctaOne .band .containerText {
  width: 60%;
}
.ctaOne .band .containerBtn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctaOne .band .btnPrimary {
  font-size: 2rem;
  padding: 20px 30px;
}

.objectif {
  margin-top: 100px;
}
.objectif .containerTitle {
  display: flex;
  justify-content: center;
}
.objectif .containerTitle h2 {
  width: max-content;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  font-size: 4rem;
  text-align: center;
}
.objectif .containerTitle h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #3E4FE4;
  bottom: -6px;
  left: 0;
}
.objectif .containerMain {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.objectif .containerMain .containerText {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.objectif .containerMain .containerText p {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}
.objectif .containerMain .containerCta {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.objectif .containerMain .containerCta .band {
  height: 250px;
  width: 100%;
  color: white;
  background-color: #FCC61F;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.objectif .containerMain .containerCta .band p {
  font-size: 60px;
  font-weight: 700;
}
.objectif .containerMain .containerCta .containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .containerImg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.hero .containerImg img {
  width: 40%;
  height: auto;
}
.hero .containerFirstBlock {
  display: flex;
  justify-content: space-around;
}
.hero .containerFirstBlock .containerWidth {
  width: 40%;
}
.hero .containerFirstBlock .containerWidth .video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.hero .containerFirstBlock .containerWidth .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .containerFirstBlock .containerText {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.hero .containerFirstBlock .containerText .containerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero .containerFirstBlock .containerText p {
  font-size: 2.8rem;
  text-align: center;
}
.hero .vip {
  margin-top: 50px;
  width: 80%;
}
.hero .vip .owl-dot span {
  background-color: rgba(62, 79, 228, 0.662745098) !important;
}
.hero .vip .owl-dot:hover span, .hero .vip .owl-dot.active span {
  background-color: #3E4FE4 !important;
}
.hero .containerBtn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/*# sourceMappingURL=style.css.map */
