@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/painting-with-chocolate');


$primary-color: #3E4FE4;
$primary-color-50: #3e4fe4a9;
$primary-color-10: #e0e3ff;
$seconday-color: #FCC61F;

*{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root{
  font-size: 10px;
}

strong{
  font-weight: 600;
  font-size: 2rem;
}

img{
  width: 100%;
  height: auto;
}

h1{
  font-size: 6rem;
}

.containerTitle{
  width: 100%;
  display: flex;
  justify-content: center;
}

h2{
  width: max-content;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  font-size: 4rem !important;
  text-align: center;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $primary-color;
    bottom: -6px;
    left: 0;
  }
}

p{
  font-size: 1.6rem;
}

strong.one4all{
  color: $primary-color;
  font-family: 'Painting With Chocolate', sans-serif;
}

.btnPrimary{
  background-color: $primary-color;
  color: white;
  border-radius: 15px;
  padding: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: solid 4px $primary-color;
  transition: 0.3s;
}

.btnPrimary:hover{
  background-color: white;
  color: $primary-color;
}

.secondaryColor{
  color: $seconday-color;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;

  img{
    width: 60%;
    height: auto;
  }
}

.present{
  padding: 0 50px;

  .block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 40px;

    img{
      width: 30%;
    }

    .containerText{
      width: 30%;

      p{
        font-size: 1.9rem;
        margin-bottom: 25px;
        line-height: 35px;
      }

      .containerBtn{
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .vision{
    display: grid;
    grid-template: 1fr 3fr 1fr / 2fr repeat(5, 1fr);

    img.logo{
      grid-area: 1 / 3 / 1 / 4;
      min-width: 300px;
    }

    .giro{
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .containerImg{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;

        img{
          height: 100%;
          width: auto;
        }
      }

      p{
        height: 20%;
        text-align: center;
        font-weight: 600;
        font-size: 1.7rem;
      }

    }
    
    .containerButton{
      grid-area: 3 / 3 / 4 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .containerWidth{
      grid-area: 2 / 3 / 3 / 6;
      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
      }
    }
  }
}

.challenge{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    width: max-content;
    text-align: center;
    margin-bottom: 25px;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $primary-color;
      bottom: -6px;
      left: 0;
    }
  }

  p{
    width: 40%;
    text-align: center;
  }
}

.ctaOne{
  margin-top: 75px;
  .band{
    background-color: $seconday-color;
    color: white;
    margin: 0 50px;
    padding: 75px 100px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;

    h3{
      font-size: 3rem;
      line-height: 50px;
    }

    .containerText{
      width: 60%;
    }

    .containerBtn{
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btnPrimary{
      font-size: 2rem;
      padding: 20px 30px;
    }
  }
}

.objectif{
  margin-top: 100px;

  .containerTitle{
    display: flex;
    justify-content: center;

    h2{
      width: max-content;
      text-align: center;
      margin-bottom: 25px;
      position: relative;
      font-size: 4rem;
      text-align: center;
  
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: $primary-color;
        bottom: -6px;
        left: 0;
      }
    }
  }

  .containerMain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .containerText{
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        font-size: 35px;
        text-align: center;
        font-weight: 600;
      }
    }

    .containerCta{
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;

      .band{
        height: 250px;
        width: 100%;
        color: white;
        background-color: $seconday-color;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
          font-size: 60px;
          font-weight: 700;
        }
      }

      .containerBtn{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.hero{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .containerImg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    img{
      width: 40%;
      height: auto;
    }
  }

  .containerFirstBlock{
    display: flex;
    justify-content: space-around;
    
    .containerWidth{
      width: 40%;
      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
      }
    }

    .containerText{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      .containerBtn{
        width: 100%;
        display: flex;
        justify-content: center;
      }

      p{
        font-size: 2.8rem;
        text-align: center;
      }
    }
  }

  .vip{
    margin-top: 50px;
    width: 80%;

    .owl-dot{
      span{
        background-color: $primary-color-50 !important;
      }

      &:hover,
      &.active{
        span{
          background-color: $primary-color !important;
        }
      }
    }
  }

  .containerBtn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

.participe{
  margin-top: 100px;

  .etape{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin-top: 50px;
  
    .containerImg{
      width: 30%;
      text-align: center;
  
      img{
        width: 50%;
        height: auto;
      }
    }
  
    .card{
      width: 30%;
      padding: 50px 50px 50px 75px;
      background-color: $primary-color-10;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      border-radius: 5px;

      p{
        line-height: 1.7;
        font-size: 1.8rem;
      }
    }
  }
  .containerBand{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    .band{
      width: 60%;
      background-color: $primary-color;
      border-radius: 30px;
      padding: 50px;

      p{
        margin-top: 15px;
        font-size: 1.8rem;
        color: white;

        strong{
          color: $seconday-color;
          font-size: 2rem;
        }
      }
    }
  }
}

.ctaBand{
  margin-top: 100px;
  display: flex;
  justify-content: center;

  .band{
    width: 90%;
    border-radius: 20px;
    background-color: $seconday-color;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;

    h3{
      font-size: 3.5rem;
      margin-bottom: 30px;
    }

    .containerCta{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .cta{
        width: 30%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: space-between;

        img{
          width: 80%;
          height: auto;

          &.second{
            width: 35%;
          }
        }

        .btnPrimary{
          margin-top: 25px;
        }
      }
    }
  }
}

/* reseau */

.reseau{
  margin-top: 50px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;

  .containerTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .title{
      height: 150px;
      width: auto;
    }
  }

  .container{
    display: flex;
    justify-content: space-around;

    .containerText{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2{
        color: black;
        margin-bottom: 50px;
        font-size: 2.8rem;
      }

      p{
        text-align: center;
      }
    }

    .containerCards{
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 500px;
        width: auto;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin-top: 50px;
        padding: 10px;
        border-radius: 10px;
      }
    }

    .socialMedia{
      width: 100%;
      background-color: $primary-color;
      display: flex;
      border-radius: 20px;
      box-shadow: rgba(155, 155, 155, 0.4) 5px 5px;
      padding: 40px;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
      transition: 0.5s;

      &:hover{
        box-shadow: rgba(71, 71, 71, 0.4) 7px 7px;
      }

      .text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p{
          color: white;
          font-size: 25px;
          font-weight: 700;
        }
      }
      .logo{
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-left: 20px;

        a{
          width: 55px;
          height: 55px;
          background-color: #1d3452;
          text-align: center;
          border-radius: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          i{
            font-size: 3rem;
            color: white;
            transition: 0.4s;
          }
          
          &:hover{
            color: #6a55ea;
            background-color: white;
            transition: 0.4s;

            i{
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .containerCarou{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .random{
      margin-top: 50px;
      width: 80%;
  
      .owl-dot{
        span{
          background-color: $primary-color-50 !important;
        }
  
        &:hover,
        &.active{
          span{
            background-color: $primary-color !important;
          }
        }
      }
    }
  }
}
